*.pyc
*_test.json
.pytest_cache
build

# pyenv
.python-version

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Project specific
.vscode/*
example/*
__pycache__
ciparams.yml
